@charset "UTF-8";

main .container {
    margin: 0 auto;
    max-width: 1000px
}

header .container {
    margin: 0 auto;
    background-color: #009688;
    max-width: 800px
}

.test {
    text-align: center; /* 画面中央に表示する*/
    color: rgb(81, 255, 0); 　　　 /* 文字が色に青色になる*/
}

.place {
    text-align: center; 
}

.now {
    margin: 0 auto;
    margin-bottom:15px;
    background-color: #afeeee;
    border: 2px solid #ccc;
    min-height: 250px;
    text-align: center;
    max-width: 300px
}

.box {
    height: 250px;             
    width: 250px;               
    margin:  10px;              
    background-color: #afeeee;
    text-align: center;              
}
.box_container{
    margin: 0 auto;
    max-width: 1000px
    text-align: center;
    display: flex;
    justify-content: center;
}